.sub_menu{margin-top: 50px; position: relative;}
.visual_area_box{height: 170px; overflow: hidden; background: url(../images/visual_sub2.png) center no-repeat; 
background-size: cover;}
.sub_menu h3{position: absolute; top: 50px; width: 100%; text-align: center; color: #fff; font-size: 22px;
font-weight: 700;}

.sub_box{overflow: hidden; width: 100%; position: absolute; bottom: 0; background: rgba(21, 66,151, .3);}
.sub_box li{float: left; width: 25%;}
.sub_box li a{display: block; padding: 10px 0; font-size: 18px;font-family:'NanumGothic';color: #fff;
background: rgba(21, 66,151, .3);text-align:center;font-weight: 400;}
.sub_menu .current a{background:#fff;color: #154297;font-family: 'NanumGothic';font-weight:600;} 

#content h2{margin:50px 0;text-align: center;font-weight: bold;font-size: 28px;
font-family: 'Nanum Gothic', sans-serif;position: relative;}
#content h2::after {content: '';background: #45befa;height: 4px;width: 40px;
position: absolute;top: 50px;left: 50%;margin-left: -20px;}

#content .title_menubox{width: 100%;margin:0 auto ;position: relative;border-bottom: 1px solid #ccc;
background: #fff;}
#content .title_menubox ul{overflow: hidden;margin-top:60px;}
#content .title_menubox ul li{float: left;width:33% ;}
#content .title_menubox ul li i{font-size: 3px;color: #ccc;position: absolute;top: 30px;left: 50%;}
#content .title_area .title_menubox ul li:hover a i{color: #cf2920;}
#content .title_menubox ul li a{display: block;color: #666;font-size: 16px;text-align: center;
padding-bottom: 15px;font-weight: 500;position: relative;}
    
#content .content_area .bussiness{background: #f9f9f9;padding-bottom: 20px;}
#content .content_area .bussiness .buss_inner{margin: 0 auto;position: relative;}
#content .content_area .bussiness h4{font-size: 24px;text-align: center;margin-bottom:90px; font-weight: 600;
padding-top: 50px;}
#content .content_area .bussiness h4::after{content: '';display: block;width:3px;height: 50px;background: #cf2920;
position: absolute;top: 100px;left: 50%;}
#content .content_area .bussiness img{width: 100%;}

#content .content_area .bussiness .text_box{background: #fff;padding: 20px 5%;margin-bottom: 30px;}
#content .content_area .bussiness .text1{font-size: 22px; font-family: 'NanumGothic'; text-align:center;padding-top:20px ;
line-height: 1.5em; margin-bottom: 30px;font-weight: 500;}
#content .content_area .bussiness .text2{text-align: justify;line-height: 2em;font-size: 16px;margin-bottom: 10px;}
#content .content_area .bussiness .text1 .air{color: #154297;}

#content .content_area .service{margin: 0 auto;position: relative;}
#content .content_area .service h4{font-size: 24px;text-align: center;margin-bottom:90px; font-weight: 600;
padding-top: 50px;}
#content .content_area .service h4::after{content: '';display: block;width:3px;height: 50px;background: #cf2920;
position: absolute;top: 100px;left: 50%;}

#content .content_area .service h5{font-size: 22px;text-align: center;margin-top:50px; font-weight: 600;}
#content .content_area .service .handling dl{padding: 5% 5%; margin-bottom: 50px;}   
#content .content_area .service .handling dt{font-size: 20px;font-weight: 600;margin:20px 0;border-bottom: 1px dashed #ccc;
padding-bottom: 20px;text-align: center;color: #666;}
#content .content_area .service .handling dd{font-size: 16px; font-family: 'NanumGothic';line-height: 2em;
text-align: justify;margin: 0 5%;}

#content .content_area .service .run h5{font-size: 22px;text-align: center;margin:50px 0; font-weight: 600;}
#content .content_area .service .run p{font-size: 18px; font-family: 'NanumGothic';line-height: 2em;text-align: center;}
#content .content_area .service .run table{width: 90%;margin: 30px 5% 50px;}
#content .content_area .service .run thead{border-top: 3px solid #cf2920; background: #f9f9f9;font-size: 16px;}
#content .content_area .service .run th{padding: 10px;}
#content .content_area .service .run tbody{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;font-size: 12px;}
#content .content_area .service .run td{padding: 10px;text-align: center;}
    

#content .content_area .service_box dt{font-size: 20px;font-family: 'NanumGothic';margin:10px 5%;
color: #154297;position: relative;}
#content .content_area .service_box dt::after{display: block; content: '';height: 1px;width: 450px;background: #ccc;
position: absolute;top: 30px;left:-200px;}
#content .content_area .service_box dd i{color: #154297;font-size:16px;}
#content .content_area .service_box dd{font-size: 16px;font-family: 'NanumGothic';margin-bottom: 50px;line-height: 1.5em;
    margin:10px 5%;}

#content .content_area .aq{background: #f9f9f9;padding-bottom: 20px;}
#content .content_area .aq .aq_inner{margin: 0 auto;position: relative;}
#content .content_area .aq h4{font-size: 24px;text-align: center;margin-bottom:90px; font-weight: 600;
padding-top: 50px;}
#content .content_area .aq h4::after{content: '';display: block;width:3px;height: 50px;background: #cf2920;
position: absolute;top: 100px;left: 50%;}
#content .content_area .aq p{font-size: 18px; font-family: 'NanumGothic';line-height: 2em;text-align: center;
margin:0 5% 50px;}

#content .content_area .inner_text ul{overflow: hidden;background: #fff;padding: 30px 5%;}
#content .content_area .inner_text li{float: left;width: 40%;margin: 0 5%;}
#content .content_area .inner_text dl{margin-bottom: 50px;}
#content .content_area .inner_text dt{font-size: 22px;font-family: 'NanumGothic';margin-bottom: 30px; font-weight: 600;
text-align: center;margin-top: 50px;}
#content .content_area .inner_text dd{font-size: 16px;font-family: 'NanumGothic';position: relative;text-align: justify;
line-height: 2em;margin: 0 5%;}
#content .content_area .inner_text dd::after{display: block;content: "";position: absolute;
top: 18px;left: -15px;width: 6px;height: 2px;background: #4b4b4b;}

#content .content_area .fuel_service ul{overflow: hidden;background: #fff;padding: 30px 5%;}
#content .content_area .fuel_service li{float: left;width: 40%;margin: 0 5%;}
#content .content_area .fuel_service dl{margin-bottom: 50px;}
#content .content_area .fuel_service dt{font-size: 22px;font-family: 'NanumGothic';margin-bottom: 30px; font-weight: 600;
text-align: center;margin-top: 50px;}
#content .content_area .fuel_service dd{font-size: 16px;font-family: 'NanumGothic';position: relative;text-align: justify;
line-height: 2em;margin: 0 5%;}
#content .content_area .fuel_service dd::after{display: block;content: "";position: absolute;
top: 18px;left: -15px;width: 6px;height: 2px;background: #4b4b4b;}

#content .content_area .safety{background: #fff;padding: 30px 5%;}
#content .content_area .safety dl{width: 90%;margin: 0 5%;margin-bottom: 20px;}
#content .content_area .safety dt{font-size: 22px;font-family: 'NanumGothic';margin-bottom: 30px; font-weight: 600;
text-align: center;margin-top: 20px;}
#content .content_area .safety dd{font-size: 16px;font-family: 'NanumGothic';position: relative;text-align: justify;
line-height: 2em;margin: 0 5%;}
#content .content_area .safety dd::after{display: block;content: "";position: absolute;
top: 18px;left: -15px;width: 6px;height: 2px;background: #4b4b4b;}