/*기업개요 내용 영역*/
#content .title_area{position: relative;border-bottom: 1px solid #ccc;background: #f9f9f9;margin-bottom: 10px;}
#content .title_area .title_menubox{width: 1200px;margin:0 auto ;}



#content .title_area .title_menubox .slideMenu{overflow: hidden;margin-top:120px;}
#content .title_area .title_menubox .slideMenu li{float: left;width:33% ;}
#content .title_area .title_menubox .slideMenu li i{font-size: 3px;color: #ccc;position: absolute;top: 29px;left: 195px;
transition: all .15s ease-in;}
#content .title_area .title_menubox .slideMenu li:hover a i{color: #cf2920;}
#content .title_area .title_menubox .slideMenu li a{display: block;color: #999;font-size: 0.889em;
text-align: center;padding-bottom: 20px;font-weight: 600;position: relative;transition: all .5s;}
#content .title_area .title_menubox .slideMenu li a::after{display: block; content: ''; width: 12px;height: 12px;border-radius: 6px;
color: #ccc;position: absolute;top: 10px;left: 50%; transition: all .5s;}
#content .title_area .title_menubox .slideMenu li a:hover{content: '';display: block;color: #666;}


#content #content_area{width: 1200px;margin: 0 auto;}
#content #content_area .company h4{font-size: 2.333em;text-align: center;margin-top:100px ; font-weight: 500;
background:url(../images/content1/dot.png)590px  no-repeat; padding-bottom: 170px;}
#content #content_area .text1{font-size: 1.667em; font-family:'NanumMyeongjo'; text-align: center;margin-top: -50px;
line-height: 1.5em; margin-bottom: 100px;font-weight: 400;}
#content #content_area .text1 .air{color: #154297;}
#content #content_area .text1 .han{color: #45befa;}
#content #content_area .text_box1{overflow: hidden;}
#content #content_area .text_box1 img{display: block; float: left;margin-bottom: 100px; box-shadow: 2px 2px 5px 3px #666;}
#content #content_area .text_box1 .box1{display: block; width: 550px; float: right; font-family:'NanumGothic';
line-height:2em; text-align: justify; margin:20px 0 50px ;padding-left: 5px;}
#content #content_area .text_box1 .box2{display: block; width: 550px; float: right; font-family:'NanumGothic';
line-height:2em; text-align: justify;padding-left: 5px;}

#content #content_area .text_box2{overflow: hidden;}
#content #content_area .text_box2 img{display: block; float:right;box-shadow: 2px 2px 5px 3px #666; margin-bottom: 50px;}
#content #content_area .text_box2 .box1{display: block; width: 550px; float: left; font-family:'NanumGothic';
line-height:2em; text-align: justify; margin:20px 0 50px ;padding-left: 5px;}
#content #content_area .text_box2 .box2{display: block; width: 550px; float: left; font-family:'NanumGothic';
line-height:2em; text-align: justify;padding-left: 5px;}
#content #content_area .last{margin: 50px 0; display: block; text-align: center;font-family:'NanumGothic';
line-height: 2em;}
#content #content_area .last span{color: #154297;font-weight: 500;}

#content #content_area .ceo_message{width: 1200px;margin: 0 auto; background: #fefefe;}
#content #content_area .ceo_message h4{font-size: 2.333em;text-align: center;padding:120px 0 ; font-weight: 500;
background:url(../images/content1/dot.png)590px 200px no-repeat;}

#content #content_area .ceo_message .title_box{overflow: hidden;background:#f3f8fc;width: 1200px;height: 250px;}
#content #content_area .ceo_message .title{display: block;float: right;text-align:justify ;line-height: 2em;
font-size: 1.444em; font-family: 'NanumGothic';padding: 50px 90px;}
#content #content_area .ceo_message .title .red{color: #cf2920; font-family: 'montserrat';}
#content #content_area .ceo_message .title .blue{color: #154297;font-family: 'montserrat';}
#content #content_area .ceo_message img{display: block; padding-right:70px;float: left;}
#content #content_area .ceo_message .name{font-size: 1.111em;text-align: right;padding:10px 0 50px 120px;}
#content #content_area .ceo_message .middle{font-family: 'NanumGothic';line-height: 2.5em;margin-top: 20px;text-align: center; }

#content #content_area .ceo_message dl{margin-top: 80px;text-align: center;}
#content #content_area .ceo_message dt{font-size: 1.333em; margin-top: 50px; font-weight:bold;font-family: 'montserrat';}
#content #content_area .ceo_message dd{margin-top: 30px;line-height: 2em; font-family: 'monserrat';}

#content #content_area .history{width: 1200px;margin: 0 auto;}
#content #content_area .history h4{font-size: 2.333em;text-align: center;padding:120px 0 ; font-weight: 500;
background:url(../images/content1/dot.png)595px 200px no-repeat;}
#content #content_area .history p{font-size: 1.222em; font-family: 'NanumGothic'; text-align: center; margin-bottom: 50px;}
#content #content_area .history p span{color: #cf2920; font-weight: 500;}

#content #content_area .history .year{background: url(../images/content1/history.png)center center no-repeat;height: 2000px;
margin: -200px 0 0 80px;position: relative;} 
#content #content_area .history .year p{font-family: 'montserrat';font-size: 1.333em;color: #fff; font-weight: 600;
position: absolute;left:50%; top: 270px;margin-left: -80px; }
#content #content_area .history dt{font-family: 'montserrat';font-size:1.667em ;color: #cf2920; font-weight: bold;
margin-bottom: 10px;}
#content #content_area .history dd span{color: #cf2920;}

#content #content_area .history .year .box_2021{position: absolute;top:430px;right:300px;
background: url(../images/content1/his1.jpg)center left no-repeat;padding-left: 270px;}
#content #content_area .history .year .box_2020{position: absolute;top:560px;left:75px;text-align: right;}
#content #content_area .history .year .box_2020::after{content:''; width: 303px;height: 205px;position: absolute;top: 80px;left:470px;
background:url(../images/content1/his2.jpg)no-repeat;}
#content #content_area .history .year .box_2020::before{content: '';width:306px;height:167px;position: absolute;top: 350px;right:-365px;
background: url(../images/content1/his3.jpg)no-repeat;}
#content #content_area .history .year .box_2000{position: absolute;top:1130px;right:265px;}
#content #content_area .history .year .box_1990{position: absolute;top:1255px;left:210px;text-align: right;}
#content #content_area .history .year .box_1980{position: absolute;top:1510px;right:310px;}
#content #content_area .history .year .box_1970{position: absolute;top:1628px;left:145px;text-align: right;}
#content #content_area .history .year .box_1960{position: absolute;top:1750px;right:95px;}

/* 상단에 고정 sticky menu */
.navOn{position: fixed; width: 100%;z-index:60; left:0; top: -120px;background: #154297;
font-family: 'NanumGothic';font-size: 24px;}
/* 메뉴 활성화  scroll spy */
.navOn .spy{ background: #fff; color: #154297;} 
.navOn .spy i{opacity: 0;}

#content .slideMenu li .spy{color: #333}
    